body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
/*------------------------------ Header Section --------------------------------------*/
.logo {
    font-weight: 500;
    font-style: italic;
    color: white;
    margin: 0 25px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(73, 168, 208);
    height: 50px;
}
.headerlist {
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin: 0 25px;
    font-size: 17px;
}
a {
    text-decoration: none;
    color: white;
}
.profile {
    height: 400px;
    border-radius: 5px;
    margin: 0 10px;
}
.maintext {
    font-size: 16px;
    font-weight: 300;
}
.content {
    display: flex;
    width: 800px;
    color: white;

}
.contentcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(images/background.jpg);
    background-size: cover;
    height: 100vh;
}
.welcome {
    font-size: 45px;
    font-weight: 800;
}
.aboutme {
    font-size: 25px;
    font-weight: 400;
}
/*--------------------------- Home for Sale Section ------------------------------*/
.cardcontainer {
    height: 1000px;
}
.homecontainer {
    display: flex;
    justify-content: center;
    gap: 25px;
}
.title-home {
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}
/*------------- First Home ---------*/
.firstphoto {
    width: 280px;
}
.firstcontainer {
    width: 280px;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
}
.heart {
    width: 20px;
    margin-left: auto;
}
.vertical-line {
    border-left: 1px solid black;
    height: 15px;
}
.house1container {
    display: flex;
    font-weight: 300;
    font-size: 12px;
    gap: 5px;
    margin: 4px 6px;
}
.save {
    color: rgb(207, 39, 39);
}
/* Dollar Section */
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px;
    margin: 0 6px;
}
 .bottomcard { 
    display: flex;
    justify-content: space-between;
    margin: 4px 6px;
    font-size: 16px;
}
.address {
    font-weight: 300;
}
.price1 {
    font-weight: 500;
    font-size: 22px;
}
.secondcard {
    display: flex;
}
/*--------------------------- Footer Section ------------------------------------*/
/* footer {
    background-color: rgb(121, 226, 226);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.footer {
    margin: 0 5px;
} */
